

.profilepic{
    height: 5%;
    width: 5%;
    margin-right: 2%;
}

.profilepic img{
    border-radius: 100%;
    height: 100%;
    width: 100%;
    margin-right: 10%;
}

.select-view{
    display: flex;
    align-items: center;
}

.userdetails{
    display: flex;
    flex-direction: column;
}

select{
    background-color: #efefef;
    border-color: #efefef;
}

.postArea{
    border-color: #efefef;
    border-radius: 20px;
    background-color: #ffffff;
    width: 90%;
    margin-top: 1%;
}

.postArea textarea{
    border-color: #ffffff;
    margin-left: 2%;
    margin-top: 1%;
}

textarea:focus{
    outline: none;
}

.tool{
    height: 4%;
    width: 4%;
    border-color: #ffffff;
    box-shadow: none;
}

.tool img{
    height: 100%;
    width: 100%;
}

.toolip{
    display: none;
    width: 0px;
}

label img{
    height: 15%;
    width: 15%;
    cursor: pointer;
}

.tool{
    position: relative;
    margin: 1%;
}

.tags{
    margin-top: 3%;
    display: flex;
    flex-wrap: nowrap;
}

.tag{
    text-align: center;
    margin-right: 2%;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 1%;
    cursor: pointer;
    border: 1px solid #451952;
    color: #451952;
    border-radius: 20px;
}

.tag:hover{
    background-color: #451952;
    color: #ffffff;
}

.tag-select{
    background-color: #451952;
    color: #ffffff;
    text-align: center;
    margin-right: 2%;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 1%;
    cursor: pointer;
    border-radius: 20px;
}

.clicked{
    border-color: blue;
    color: blue;    
}

.postCard{
    background-color: #D0D4CA;
    margin: 5%;
    border-radius: 50px;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: left;
    height: 280px;
}

button{
    margin: 5px;
}

.feedPage{
    text-align: left;
    margin-top: 5%;
    padding-left: 4%;
}

.post-area{
    margin-top: 3%;
    background-color: #efefef;
    width: 90%;
    padding: 2%;
    border-radius: 20px;
    display: flex;
    flex-wrap: nowrap;
}

.postInput{
    margin-right: 3%;
    margin-left: 5%;
    width: 75%;
    text-align: left;
    background-color: #ffffff;
    display: inline;
    border-radius: 20px;
    padding: 1%;
    cursor:text;
}

.infiniteScroll{
    text-align: center;
    margin-top: 2%;
}

.center{
    text-align: center;
    margin: 5%;
}

/* Define the keyframe animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Apply the animation to the loading icon */
.loader {
    border: 8px solid #f3f3f3;
    /* Light gray border */
    border-top: 8px solid #451952;
    /* Blue border for the spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    /* Use the defined keyframe animation */
    margin: 2% auto;
    /* Center the spinner */
}