.pic img{
    height: 100%;
    width: 60%;
    border-radius: 100%;
    margin-left: 20%;
}

.upper{
    margin-top: 8%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: left;
}

.broz{
    cursor: pointer;
}

.posts{
    margin: 10%;
}

.deg{
    padding-left: 10%;
    text-align: left;
}

.deg-sym img{
    text-align: center;
    height: 75%;
    width: 75%;
}
.edit{
    text-align: right;
}

.edit:hover{
    cursor: pointer;
}

.edit, img{
    height: 55%;
    width: 40%;
}